<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<img src="http://covers.openlibrary.org/b/olid/{{olid}}-M.jpg" alt="{{title}}">
		</div>
		<div class="col-lg-8">
			<div class="description">
				<h4>Title: {{title}}</h4>
				<h4>Author: {{author}}</h4>
				<h4>Publisher: {{publisher}}</h4>
				<h4>Genre: {{genre}}</h4>
				<h4>Date published: {{publicityYear}}</h4>
				<h4>Extension: .{{audioExtension}}</h4>
				<h4>Duration time: {{durationTime}}</h4>
				<h4>Size: {{size}} Mb</h4>
				<h4>Price: {{price}}</h4>
				<h4>On stock: {{quantity}}</h4>
				<blockquote class="c-blockquote">
					<div class="c-blockquote__body">
						{{description}}
					</div>
					<footer class="c-blockquote__footer">
						- {{title}}
					</footer>
				</blockquote>
			</div>
		</div>
	</div>
</div>
