<div class="o-container o-container--medium o-container o-container--large
			o-container o-container--xlarge o-container o-container--super">
	<div class="o-grid">
		<div class="o-grid__cell o-grid__cell--width-40">
			<img src="http://covers.openlibrary.org/b/olid/{{olid}}-M.jpg" alt="{{title}}">
		</div>
		<div class="o-grid__cell o-grid__cell--width-60">
			<div class="o-panel-container o-panel-container--to-right">
				<h4>Title: {{title}}</h4>
				<h4>Author: {{author}}</h4>
				<h4>Cover: {{coverType}}</h4>
				<h4>Pages: {{numberOfPages}}</h4>
				<h4>Publisher: {{publisher}}</h4>
				<h4>Genre: {{genre}}</h4>
				<h4>Date published: {{publicityYear}}</h4>
				<h4>Price: {{price}}</h4>
				<h4>On stock: {{quantity}}</h4>
				<blockquote class="c-blockquote">
					<div class="c-blockquote__body">
						{{description}}
					</div>
					<footer class="c-blockquote__footer">
						- {{title}}
					</footer>
				</blockquote>
			</div>
		</div>
	</div>
</div>
