<div class="o-panel-container o-panel-container--lowered">
	<img src="http://covers.openlibrary.org/b/olid/{{olid}}-M.jpg" class="img img--fade-in" alt="{{title}}">
	<h3 class="italic">{{title}}</h3>
	<h4 class="bold">{{author}}</h4>
	<h5>{{coverType}} cover</h5>
	<div class="padding-bottom">
		<button id="{{id}}" type="button" class="c-button c-button--top-padded c-button--brand">
			<i class="fa fa-shopping-cart" aria-hidden="true"></i>
			Buy
		</button>
		<button id="{{id}}" type="button" class="c-button c-button--top-padded c-button--info">
			<i class="fa fa-info" aria-hidden="true"></i>
			Details
		</button>
	</div>
</div>
